.catalog-navigation {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-navigation__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

.catalog-navigation__item {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 22px;
}

@media (min-width: $tablet-width) {
  .catalog-navigation {
    width: 732px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-navigation__list {
    flex-direction: row;
  }
}
