.catalog-navigation__list {
  @include list-style;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.catalog-navigation__item {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 20px;
}

@media (min-width: $desktop-width) {
  .catalog-navigation__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog-navigation__item {
    width: 45%;
  }
}
