.catalog__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 280px;
}

.catalog__item {
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__item:first-child {
  border-top: 1px solid rgb(230, 230, 230);
}

.catalog__item--all-wrapper {
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-bottom: 0;
    margin-bottom: -60px;
  }

  .catalog__list {
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .catalog__item {
    width: 324px;
    padding-left: 39px;
    padding-right: 37px;
    margin-bottom: 20px;
    min-height: 550px;
    border-bottom: none;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, #ffffff 120px, rgb(248, 248, 248) 120px);
  }

  .catalog__item:first-child {
    border-top: none;
  }

  .catalog__item--all {
    min-height: 432px;
    align-self: flex-end;

    background-image: none;

    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .catalog__item {
    width: 245px;
  }
}
