.description__wrapper {
  width: 100%;
  display: flex;
  align-content: center;
}

.description__field {
  width: 50%;
  display: inline-block;
}

.description__value {
  width: 50%;
  display: inline-block;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding: 5px 0;
    border-bottom: 1px solid rgb(205, 205, 205);
  }
}
