.features__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
}

.features__item {
  width: 100%;
  font-family: $arial-font;
  margin-bottom: 32px;
}

.main__title--features {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .features__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    width: 25%;
  }
}
