.features {
  margin-left: 20px;
  margin-right: 20px;
}

.features__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

.features__item {
  padding-left: 100px;
  width: 150px;
  font-family: $arial-font;
  margin-bottom: 32px;
}

.main__title--features {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .features__list {
    flex-direction: row;
  }

  .features__item {
    width: 130px;
  }
}
