.footer__intro {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.footer__promo {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: normal;
  margin-left: 20px;
}

.footer__address {
  font-family: $arial-font;
  line-height: 20px;
  font-style: normal;
}

.footer__logo {
  margin-top: 39px;
  margin-bottom: 31px;
  text-align: center;
}

.footer__logo-img {
  @include img;
}

.footer__wrapper {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 60px 110px;
  }

  .footer {
    position: relative;
  }

  .footer__intro {
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}
