.footer__promo {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: normal;
  margin-left: 20px;
}

.footer__address {
  font-family: $arial-font;
  line-height: 20px;
  font-style: normal;
}

.footer__logo {
  margin-top: 39px;
  margin-bottom: 31px;
  margin-left: 90px;
  text-align: center;
}

.footer__logo-img {
  @include img;
}

.footer__wrapper {
  background-color: #f2f2f2;
  padding: 20px;
}
