.header {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.header__logo {
  height: 65px;
  vertical-align: middle;
  border-bottom: 1px solid #cdcdcd;
}

.header__logo-image {
  @include img;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .header__logo {
    height: 59px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background: transparent;
  }

  .header__logo {
    height: 60px;
  }

  .header__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
