.intro {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-position: top center;
  color: #ffffff;
  text-align: center;
  padding-top: 29px;
}

.intro__slogan {
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 29px;
}
