.intro {
  background-image: url("../../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #68b738 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 305px,
    100% 100%;
  color: #ffffff;
  text-align: center;
  padding-top: 29px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.intro__slogan {
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 29px;
}

.intro__image {
  @include img;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    background: transparent;
    text-align: left;
    position: relative;
  }

  .intro__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro__image {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    top: 200px;
    left: -80px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: transparent;
    width: 1300px;
    padding: 0 40px;
  }

  .intro__image {
    width: 552px;
    height: 499px;
    z-index: 1;
    top: 150px;
    left: 590px;
  }
}
