.main__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.main__title {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.main__title--features,
.main__title--review,
.main__title--form,
.main__title--catalog {
  color: #111111;
  line-height: 60px;
  font-size: 36px;
}

.main__title--catalog {
  display: inline-block;
  margin-left: 20px;
}

.main--form {
  padding: 30px 20px;
}

.main__description {
  text-transform: uppercase;
  color: #111111;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .main__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .main__title--features,
  .main__title--review,
  .main__title--form,
  .main__title--catalog {
    font-size: 60px;
  }

  .main__wrapper--form {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .main__title--form {
    font-size: 60px;
  }
}
