.main__wrapper {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.main__title {
  margin: 0 auto;
  display: block;
  width: 320px;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  padding: 30px 0;
}

.main__title--intro {
  color: #ffffff;
  text-align: center;
  line-height: 36px;
}

.main__description {
  text-transform: uppercase;
  color: #111111;
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: 280px;
  margin: 30px auto;
}

@media (min-width: $tablet-width) {
  .main__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .main__title {
    width: 708px;
    font-size: 60px;
  }

  .main__title--intro {
    line-height: 60px;
    text-align: left;
    color: #111111;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .main__description {
    font-size: 20px;
    line-height: 30px;
    width: 630px;
    margin: 50px auto;
  }
}

@media (min-width: $desktop-width) {
  .main--index {
    margin-top: -112px;
    width: 100%;
    background-image: url("../../img/index-background-desktop@1x.jpg"),
      linear-gradient(to right, #ffffff 50%, #68b738 50%);
    background-repeat: no-repeat;
    background-position: right top,
      right top;
    background-size: 50% 696px,
      100% 696px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }

  .main__wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .main__title {
    width: 1220px;
  }

  .main__title--intro {
    margin-top: 0;
    padding-top: 230px;
  }

  .main__description {
    width: 1220px;
  }
}
