.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    width: 530px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 720px;
  }

  .main-nav__link {
    color: #ffffff;
  }
}
