.product__photo {
  @include img;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__description {
  font-family: $arial-font;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
}
