.review {
  background-color: #f2f2f2;
  padding: 20px;
}

.main__title--review {
  text-align: left;
}

.review__text {
  font-family: "Arial", sans-serif;
}

.review__cost {
  text-transform: uppercase;
  text-align: center;
}
