.site-button {
  font-family: $oswald-font;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}

.site-button--all-catalog {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: $desktop-width) {
  .site-button--additional {
    width: 245px;
  }
}
