.site-button {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-button--catalog {
  display: inline-block;
  text-decoration: none;
  margin: 20px auto 25px;
}

.site-button--all-catalog {
  margin: 20px auto 25px;
  display: inline-block;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .site-button {
    width: 249px;
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
  }

  .site-button--catalog {
    padding-top: 13px;
    padding-bottom: 12px;
  }

  .site-button--additional {
    width: 100%;
  }

  .site-button--user-form {
    width: 283px;
  }
}

@media (min-width: $desktop-width) {
  .site-button {
    width: 169px;
  }

  .site-button--additional {
    width: 245px;
  }

  .site-button--user-form {
    width: 568px;
    margin-right: 80px;
  }
}
