.stats-list {
  display: flex;
}

.stats-list__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.stats-list__definition {
  position: relative;
  width: 124px;
  height: 56px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats-list__term {
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  font-family: $arial-font;
  background: #f2f2f2;
}

.stats-list__cost {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .stats-list__cost {
    width: 33.33%;
  }

  .stats-list__wrapper {
    width: 33.33%;
  }
}
