.stats-list {
  padding: 0;
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.stats-list__wrapper {
  width: 124px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats-list__definition {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats-list__term {
  padding: 0;
  order: 1;
  margin: 0 auto;
  margin-top: -7px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 17px;
  text-align: center;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial-font;
  background-color: #f2f2f2;
}

.stats-list__cost {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

@media (max-width: 767px) {
  .stats-list__cost br {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .stats-list {
    width: 366px;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .stats-list__cost {
    width: 33.33%;
    text-align: right;
    font-size: 20px;
  }

  .stats-list__wrapper {
    width: 162px;
  }

  .stats-list__term {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ffffff;
    white-space: nowrap;
  }

  .stats-list__term br {
    display: none;
  }

  .stats-list__sum {
    display: inline-block;
    padding-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .stats-list__cost {
    text-align: left;
    width: 400px;
  }

  .stats-list__cost br {
    display: none;
  }

  .stats-list {
    padding-bottom: 20px;
  }

  .stats-list__term {
    background-color: #f2f2f2;
  }

  .stats-list__sum {
    padding-left: 60px;
    padding-top: 0;
  }
}
