.user-form {
  margin-bottom: 30px;
}

.user-form__fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 10px 0;
}

.user-form__fieldset--user-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-form__fieldset--program {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.user-form__list {
  @include list-style;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px 0;
  margin: 0 auto;
}

.user-form__item {
  padding: 6px 0;
}

.user-form__legend {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding: 30px 20px 30px 0;
  background: #ffffff;
  order: 1;

  &::after {
    content: "";
    width: 100vw;
    height: 3px;
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: #68b738;
    z-index: -1;
  }
}

.user-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.user-form__wrapper--button {
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.user-form__wrapper--contact-list {
  flex-direction: column;
}

.user-form__header {
  display: flex;
  flex-direction: column;
}

.user-form__label {
  color: #222222;
  font-size: 16px;
  line-height: 43px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
}

.user-form__wrapper--user-info .user-form__label,
.user-form__wrapper--contacts .user-form__label {
  margin-right: 10px;
}

.user-form__input {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: $oswald-font;
  color: #444444;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #cdcdcd;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 11px;
  padding-bottom: 6px;
  flex-grow: 1;
}

.user-form__input--comment {
  width: 280px;
  margin: 0;
  border-color: #cdcdcd;
  resize: none;
}

.user-form__input::placeholder {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: $oswald-font;
  color: #444444;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.user-form__comment {
  font-family: $arial-font;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.user-form__fieldset--contacts {
  display: flex;
  flex-direction: column;
}

.user-form__input--radio {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .user-form {
    margin-bottom: 70px;
  }

  .user-form__fieldset {
    width: 630px;
  }

  .user-form__fieldset--program {
    width: 630px;
    border: 1px solid #cdcdcd;
  }

  .user-form__list {
    width: 100%;
    padding: 0;
  }

  .user-form__item {
    padding: 0;
  }

  .user-form__legend {
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      width: 100vw;
      height: 3px;
      position: absolute;
      bottom: 40px;
      right: 0;
      background-color: #68b738;
      z-index: -1;
    }
  }

  .user-form__list--addition {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-form__item--addition {
    width: 50%;
  }

  .user-form__label {
    font-size: 20px;
    line-height: 50px;
  }

  .user-form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .user-form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .user-form__input--comment {
    width: 100%;
  }

  .user-form__wrapper--button {
    flex-direction: row;
    width: 630px;
  }

  .user-form__comment {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .user-form {
    margin-bottom: 80px;
  }

  .user-form__fieldset {
    width: 1220px;
  }

  .user-form__header {
    flex-direction: row;
    width: 1220px;
    margin: 0 auto;
  }

  .user-form__fieldset--user-info {
    width: 50%;
    padding: 0;
    margin-right: 80px;
  }

  .user-form__fieldset--program {
    width: 50%;
    padding: 0;
  }

  .user-form__wrapper--contacts:first-of-type {
    margin-right: 80px;
  }

  .user-form__item--addition {
    width: 25%;
  }

  .user-form__wrapper--contact-list {
    flex-direction: row;
  }

  .user-form__wrapper--contacts {
    width: 50%;
  }

  .user-form__wrapper--button {
    width: 1220px;
    justify-content: flex-start;
  }

  .user-form__button {
    width: 568px;
    margin-right: 80px;
  }
}
